apiVersion: helm.integrations.flux.weave.works/v1alpha2
kind: FluxHelmRelease
metadata:
  name: contentpoc
  namespace: matt-and-andrew
  labels:
    chart: dotnet-microservice
spec:
  chartGitPath: dotnet-microservice/0.1.0
  values:
    ecr_repo: matt-and-andrew/contentpoc
    version: "{{ .Env.GO_REVISION_SOURCE }}"
  
